# List

Lists are used to store multiple items in a single variable.
Lists are created using square brackets '[ ]':

In [1]:
lst=["Apple",'Banana','Mango','Cherry']
print(lst)

['Apple', 'Banana', 'Mango', 'Cherry']

**List Items**
List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

**The list is changeable, meaning that we can change, add, and remove items in a list after it has been created**

In [2]:
len(lst)

4

In [3]:
list1 = ["abc", 34, True, 40, "male"]

In [4]:
type(list1)

list

In [2]:
x= list(('hello','good','Bye'))

In [7]:
x

['hello', 'good', 'Bye']

**Access Items**

In [9]:
x[2]

'Bye'

In [12]:
lst[:2]

['Apple', 'Banana']

Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

In [13]:
lst[-1]

'Cherry'

In [14]:
lst

['Apple', 'Banana', 'Mango', 'Cherry']

In [15]:
lst[1:3]

['Banana', 'Mango']

In [19]:
lst[-2:3]

['Mango']

In [20]:
lst[:3]

['Apple', 'Banana', 'Mango']

In [21]:
lst[2:]

['Mango', 'Cherry']

In [22]:
lst[-3:-1]

['Banana', 'Mango']

In [25]:
if "Mango" in lst:
    print("Mango is Present in list")

Mango is Present in list

**Change Item Value**
To change the value of a specific item, refer to the index number:

In [28]:
print(lst)

['Apple', 'Banana', 'Mango', 'Cherry']

In [29]:
lst[1]="Water_Melon"

In [30]:
lst

['Apple', 'Water_Melon', 'Mango', 'Cherry']

In [32]:
lst.count("Apple")

1

In [34]:
# Changeing in Range(1,2)index

lst[1:3]=["Jack_fruit","Gauva"]

In [35]:
lst

['Apple', 'Jack_fruit', 'Gauva', 'Cherry']

In [36]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [37]:
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon', 'cherry']

**Insert Items**
To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:

In [38]:
lst

['Apple', 'Jack_fruit', 'Gauva', 'Cherry']

In [39]:
lst.insert(2,"Pineapple")

In [40]:
lst

['Apple', 'Jack_fruit', 'Pineapple', 'Gauva', 'Cherry']

In [45]:
lst.insert(-1,"Kiwi")

In [42]:
lst

['Apple', 'Jack_fruit', 'Pineapple', 'Gauva', 'Kiwi', 'Cherry']

**Add List Items**

Append Items;--
To add an item to the end of the list, use the append() method:

In [47]:
lst

['Apple', 'Jack_fruit', 'Pineapple', 'Gauva', 'Kiwi', 'Kiwi', 'Cherry']

In [48]:
lst.pop(4)

'Kiwi'

In [49]:
lst

['Apple', 'Jack_fruit', 'Pineapple', 'Gauva', 'Kiwi', 'Cherry']

In [50]:
lst.append("Grapes")

In [51]:
lst

['Apple', 'Jack_fruit', 'Pineapple', 'Gauva', 'Kiwi', 'Cherry', 'Grapes']

In [46]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

**Remove Specified Item**

The remove() method removes the specified item.

In [52]:
lst

['Apple', 'Jack_fruit', 'Pineapple', 'Gauva', 'Kiwi', 'Cherry', 'Grapes']

In [53]:
lst.remove("Jack_fruit")

In [54]:
lst

['Apple', 'Pineapple', 'Gauva', 'Kiwi', 'Cherry', 'Grapes']

In [55]:
#For Specific Use pop() function:

lst.pop(3)

'Kiwi'

In [56]:
# Just pop() popes the ast element 

lst.pop()

'Grapes'

In [57]:
lst

['Apple', 'Pineapple', 'Gauva', 'Cherry']

The **del** keyword also removes the specified index:

In [58]:
del lst[1]   #delete the "Pineapple"

In [59]:
lst

['Apple', 'Gauva', 'Cherry']

**Clear the List**
The clear() method empties the list.

The list still remains, but it has no content.

In [60]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

**Loop Through a List**


You can loop through the list items by using a for loop:

In [62]:
lst

['Apple', 'Gauva', 'Cherry']

In [63]:
for x in lst:
    print(x)

Apple
Gauva
Cherry

In [76]:
for x in range(len(lst)):
    print(x,"-->",lst[x])

0 --> Apple
1 --> Gauva
2 --> Cherry

In [67]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

In [89]:
i=0
while i < len(lst):
    print(i,"->",lst[i])
    i=i+1

0 -> Apple
1 -> Gauva
2 -> Cherry

### List Comprehension

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

**Syntax**--->
newlist = [expression for item in iterable if condition == True]

In [7]:
# Without List Comprehension:

lt=["Hassan",'Banglore','Raichur','Chikmagaluru','Mysur']

new_lt=[]
for x in lt:
    
    if "a" in x:
        new_lt.append(x)
    
print(new_lt)

['Hassan', 'Banglore', 'Raichur', 'Chikmagaluru']

In [106]:
# By list Comprehension:
[x for x in lt if "a" in x]

['Hassan', 'Banglore', 'Raichur', 'Chikmagaluru']

In [107]:
new=[x for x in lt if x !="Hassan"]

In [108]:
new

['Banglore', 'Raichur', 'Chikmagaluru', 'Mysur']

In [110]:
a=[i for i in lt]
print(a)

['Hassan', 'Banglore', 'Raichur', 'Chikmagaluru', 'Mysur']

In [111]:
[a for a in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [114]:
[a for a in range(20) if a>5]

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [118]:
["goa" for x in lt]

['goa', 'goa', 'goa', 'goa', 'goa']

In [119]:
[x.upper() for x in lt]

['HASSAN', 'BANGLORE', 'RAICHUR', 'CHIKMAGALURU', 'MYSUR']

In [133]:
[x if x!="Raichur" else "Kerala" for x in lt]

['Hassan', 'Banglore', 'Kerala', 'Chikmagaluru', 'Mysur']

In [131]:
len(lt)

5

In [9]:
lt.count(" ")

0

In [10]:
lt.sort()

In [11]:
lt

['Banglore', 'Chikmagaluru', 'Hassan', 'Mysur', 'Raichur']

In [12]:
ls=lt.copy()

In [13]:
ls

['Banglore', 'Chikmagaluru', 'Hassan', 'Mysur', 'Raichur']

In [14]:
lt

['Banglore', 'Chikmagaluru', 'Hassan', 'Mysur', 'Raichur']

# Tuple

Tuples are used to store multiple items in a single variable.

A tuple is a collection which is ordered and unchangeable and allow duplicate values.

Tuples are written with round brackets.'( )'

In [22]:
tup=("Car",'Bus','Auto','Jeep','Bike','Van','Bus')

In [17]:
type(tup)

tuple

In [23]:
len(tup)

7

In [24]:
tup.count("Bus")

2

In [25]:
tup[2]

'Auto'

In [15]:
thistuple = ("apple",)   #Not Comma(,)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [26]:
tp=tuple(["Apple",'cat',1,45,True,99.9])

In [27]:
tp

('Apple', 'cat', 1, 45, True, 99.9)

In [28]:
type(tp)

tuple

In [29]:
tup

('Car', 'Bus', 'Auto', 'Jeep', 'Bike', 'Van', 'Bus')

In [30]:
tup[:-1]

('Car', 'Bus', 'Auto', 'Jeep', 'Bike', 'Van')

In [31]:
tup[2:4]

('Auto', 'Jeep')

In [39]:
tup[-4:-1]

('Jeep', 'Bike', 'Van')

In [43]:
if "Bike" in tup:
    print("Bike Present")
else:
    print("Bike not found")

Bike Present

Change tuple values to list

In [44]:
tup

('Car', 'Bus', 'Auto', 'Jeep', 'Bike', 'Van', 'Bus')

In [49]:
y= list(tup)
y[1]= "Mini_bus"
y

['Car', 'Mini_bus', 'Auto', 'Jeep', 'Bike', 'Van', 'Bus']

In [46]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [50]:
y

['Car', 'Mini_bus', 'Auto', 'Jeep', 'Bike', 'Van', 'Bus']

In [60]:
y.pop()

'Lorry'

In [61]:
y

['Car', 'Mini_bus', 'Auto', 'Jeep', 'Bike', 'Van', 'Bus']

In [62]:
y.append("Truck")
print(tuple(y))

('Car', 'Mini_bus', 'Auto', 'Jeep', 'Bike', 'Van', 'Bus', 'Truck')

Adding Tuple

In [64]:
x=("cat",'Dog')
z=("Lion","Tiger")

m = x+z

print(m)

('cat', 'Dog', 'Lion', 'Tiger')

In [70]:
for i in range(len(tup)):
    print(tup[i])

Car
Bus
Auto
Jeep
Bike
Van
Bus

In [72]:
i=2
while i <len(tup):
    print(tup[i])
    i=i+1

Auto
Jeep
Bike
Van
Bus

In [73]:
m

('cat', 'Dog', 'Lion', 'Tiger')

In [80]:
p=m*2
p

('cat', 'Dog', 'Lion', 'Tiger', 'cat', 'Dog', 'Lion', 'Tiger')

In [81]:
m.index("Dog")

1

In [83]:
p.count("cat")

2

# Set

Sets are used to store multiple items in a single variable.

A set is a collection which is unordered, **unchangeable*, and unindexed**.

* Note: Set items are unchangeable, but you can remove items and add new items.

In [92]:
my_set={'Ravi','Jhon',True,'shanti','manish',45.8,1}  # true and 1 consider as 1no Duplicates

In [93]:
my_set

{45.8, 'Jhon', 'Ravi', True, 'manish', 'shanti'}

In [94]:
len(my_set)

6

In [95]:
type(my_set)

set

In [97]:
t= set({'gym','Bus','Run','Toy'})

type(t)

set

In [98]:
my_set

{45.8, 'Jhon', 'Ravi', True, 'manish', 'shanti'}

In [99]:
print("Jhon" in my_set)

True

In [106]:
for x in my_set:
    print(x)

True
Ravi
shanti
Jhon
45.8
manish

**Add Items**

To add one item to a set use the add() method.

In [111]:
my_set.add("Shalini")

In [109]:
my_set

{45.8, 'Jhon', 'Ravi', 'Shalini', True, 'manish', 'shanti'}

To add items from another set into the current set, use the update() method.

In [113]:
st=(48.96, True,'Kiwi')

In [114]:
my_set.update(st)

In [115]:
my_set

{45.8, 48.96, 'Jhon', 'Kiwi', 'Ravi', 'Shalini', True, 'manish', 'shanti'}

In [117]:
r=[3.5,'raju']

my_set.update(r)

print(my_set)

{True, 3.5, 'shanti', 'Kiwi', 'manish', 'Jhon', 'Ravi', 45.8, 48.96, 'raju', 'Shalini'}

In [118]:
len(my_set)

11

In [119]:
my_set.pop()  #pop random element

True

In [120]:
len(my_set)

10

**Remove Item**

To remove an item in a set, use the remove(), or the discard() method.

In [123]:
my_set.discard(45.8)

In [124]:
my_set

{3.5, 48.96, 'Jhon', 'Kiwi', 'Ravi', 'Shalini', 'manish', 'raju', 'shanti'}

In [126]:
my_set.remove('Kiwi')

In [127]:
my_set

{3.5, 48.96, 'Jhon', 'Ravi', 'Shalini', 'manish', 'raju', 'shanti'}

In [128]:
len(my_set)

8

**Join Two Sets**

There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [132]:
r={85,True,'cat'}
q= {'Krish', False,63.45}

In [133]:
print(r.union(q))

{63.45, 85, False, 'Krish', True, 'cat'}

In [148]:
r.update(q)
r

{63.45, 85, False, 'Krish', True, 'cat'}

In [145]:
type(q)

set

In [138]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'b', 'c'}

The intersection_update() method will keep only the items that are present in both sets.

In [149]:
i={"Dummy",96,'Cow'}
j={'Cow',45,"jack"}

i.intersection_update(j)

i

{'Cow'}

The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

In [154]:
i.symmetric_difference_update(j)
i

{45, 'jack'}

In [155]:
i.issubset(j)

True

In [156]:
j.issubset(i)

False

In [157]:
j.issuperset(i)

True

In [158]:
i.issuperset(j)

False

# Dictionary


Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [7]:
dit={"Number":[1,2,3,4,5],'color':['Red','Orange','green'],'Car':"Volvo"}

In [8]:
print(dit)

{'Number': [1, 2, 3, 4, 5], 'color': ['Red', 'Orange', 'green'], 'Car': 'Volvo'}

In [9]:
print(dit['Number'])

[1, 2, 3, 4, 5]

In [10]:
type(dit)

dict

In [11]:
len(dit)

3

In [12]:
d=dict(Name = "John", Age = 45,Location = "UK")
d

{'Name': 'John', 'Age': 45, 'Location': 'UK'}

In [13]:
type(d)

dict

**Accessing Items**

You can access the items of a dictionary by referring to its key name, inside square brackets:

In [14]:
dit.get("color")

['Red', 'Orange', 'green']

In [15]:
d["Age"]

45

In [16]:
d.keys()

dict_keys(['Name', 'Age', 'Location'])

In [17]:
d.values()

dict_values(['John', 45, 'UK'])

In [19]:
dit.keys()

dict_keys(['Number', 'color', 'Car'])

In [21]:
dit.values()

dict_values([[1, 2, 3, 4, 5], ['Red', 'Orange', 'green'], 'Volvo'])

Adding New Item:

In [22]:
d["State"]="San Francisco"

In [23]:
d

{'Name': 'John', 'Age': 45, 'Location': 'UK', 'State': 'San Francisco'}

In [25]:
d.items()

dict_items([('Name', 'John'), ('Age', 45), ('Location', 'UK'), ('State', 'San Francisco')])

In [26]:
dit.items()

dict_items([('Number', [1, 2, 3, 4, 5]), ('color', ['Red', 'Orange', 'green']), ('Car', 'Volvo')])

In [28]:
if "Age" in d:
    print("Age present in Dictionary")
else:
    print("Not Found")

Age present in Dictionary

**Change Values**

You can change the value of a specific item by referring to its key name:

In [29]:
d

{'Name': 'John', 'Age': 45, 'Location': 'UK', 'State': 'San Francisco'}

In [30]:
d["State"]="California"  # changing San Fan.... to califo...

In [31]:
print(d)

{'Name': 'John', 'Age': 45, 'Location': 'UK', 'State': 'California'}

The **update()** method will update the dictionary with the items from the given argument.

The argument must be a dictionary, or an iterable object with key:value pairs.

In [32]:
d

{'Name': 'John', 'Age': 45, 'Location': 'UK', 'State': 'California'}

In [33]:
d.update({"Name":"Ravi"})   # updating Name John to ravi

In [34]:
d

{'Name': 'Ravi', 'Age': 45, 'Location': 'UK', 'State': 'California'}

Removing

In [36]:
d.pop("State")

'California'

In [37]:
print(d)

{'Name': 'Ravi', 'Age': 45, 'Location': 'UK'}

In [38]:
del dit["Car"]

In [39]:
dit

{'Number': [1, 2, 3, 4, 5], 'color': ['Red', 'Orange', 'green']}

**Loop**

In [42]:
for x in d:    # print Keys()
    print(x)

Name
Age
Location

In [44]:
for x in d:          # print values
    print(d[x])

Ravi
45
UK

In [43]:
for i in dit:           
    print(i)

Number
color

In [45]:
for i in dit:
    print(dit[i])

[1, 2, 3, 4, 5]
['Red', 'Orange', 'green']

In [46]:
for x in dit.values():
    print(x)

[1, 2, 3, 4, 5]
['Red', 'Orange', 'green']

In [47]:
for i in d.values():
    print(i)

Ravi
45
UK

In [49]:
for i,j in dit.items():
    print(i,j)

Number [1, 2, 3, 4, 5]
color ['Red', 'Orange', 'green']

Copy Dictionary

In [50]:
my_dict=dit.copy()

print(my_dict)

{'Number': [1, 2, 3, 4, 5], 'color': ['Red', 'Orange', 'green']}

In [52]:
my_d=dict(d)

print(my_d)

{'Name': 'Ravi', 'Age': 45, 'Location': 'UK'}

In [53]:
d

{'Name': 'Ravi', 'Age': 45, 'Location': 'UK'}

In [54]:
d.pop("Location")

'UK'

In [55]:
print(d)

{'Name': 'Ravi', 'Age': 45}